
.sch-comp {

  &__in {
    display: flex;
  }

  .dropdown {

    &.full {
      width: 100%;
    }

    .dropdown-option {
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
    }
  }

  &__select {
    width: 136px;

    & + .sch-comp__inp-wrap {
      width: calc(100% - 238px);
      margin-left: 16px;
    }

    .dropdown {
      width: 100%;
    }
  }

  &__inp-wrap {
    width: 100%;

    .input-box {
      width: 100%;
    }
  }

  &__inp {
    display: none;
    position: relative;

    &.active {
      display: block;
    }
  }

  &__ss {
    display: none;
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
  }

  &__sch {
    width: 70px;
    margin-left: 16px;

    button {
      width: 100%;
    }
  }

  &__result-list {
    height: 147px;
    overflow-y: auto;

    .depth02 {
      padding-left: 10px;
    }

    a {
      display: block;
      padding: 9px 8px;
      color: #222631;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      border-radius: 6px;

      &:hover {
        background: #F0F8FC;
      }
    }
  }

  &__col-row {
    display: flex;

    .cal-dash {
      display: flex;
      align-items: center;
      margin: 0 10px;
      font-size: 20px;
    }
  }

  .search-tag {
    display: none;

    &.active {
      display: block;
    }
  }
}
