.sch-comp {
  &.h-full {
    width: 100%;
  }
  &__in {
    display: flex;
  }
  .dropdown {
    &.full {
      width: 100%;
    }
    .dropdown-option {
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
    }
  }
  &__select {
    .dropdown {
      width: 100%;
    }
  }
  &__inp-wrap {
    width: 100%;

    .input-box {
      width: 100%;
    }
  }
  &__inp {
    position: relative;

    &.active {
      display: block;
    }
  }
  &__ss {
    display: none;
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
  }
  &__sch {
    width: 70px;
    margin-left: 16px;

    button {
      width: 100%;
    }
  }
  &__result-list {
    height: 147px;
    overflow-y: auto;
    .depth02 {
      padding-left: 10px;
    }
    a {
      display: block;
      padding: 9px 8px;
      color: #222631;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      border-radius: 6px;
      &.selected,
      &:hover {
        background: #F0F8FC;
      }
    }
  }
  &__col-row {
    display: flex;

    .cal-dash {
      display: flex;
      align-items: center;
      margin: 0 10px;
      font-size: 20px;
    }
  }
  .search-tag {
    display: none;
    &.active {
      display: block;
    }
  }
}
.dropbtn {
  position: relative;
  &__list {
    display: none;
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 8px;
    background: #fff;
    border: 1px solid #DADDE5;
    border-radius: 6px;
  }
  &__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__btn {
    width: 100%;
    &:hover {
      background: var(--primary);
      border-color: var(--primary);

      span {
        color: #fff;
      }
    }
  }
}
.chip {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 20px;
  background: #F4F6FA;
  .chip-txt {
    position: relative;
    padding-left: 28px;
    color: #707070;
    font-size: 14px;
    line-height: 22px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: url($image-url + 'ico-chip-check.png') 0/100%;
    }
  }
  &.checked {
    .chip-txt {
      &:before {
        background-image: url($image-url + 'ico-chip-checked.png');
      }
    }
  }
}
.color-square {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  color: #353D50;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;

  i {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 6px;
  }
}