.layer-popup {

  &.pop-interview-tools {

    .main-q {

      &__sub {
        margin-top: 16px;
        padding-left: 32px;
      }
    }
    
    .main-q__inner {

      & + .main-q__inner {
        margin-top: 16px;
      }
    }

    .ee-info {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &.send-sms {

    #phoneNum {
      display: none;
      position: relative;
      height: 37px;
      overflow: hidden;
      padding-right: 32px;

      &.is-show {
        display: block;
        height: auto;

        .tag__dropdown-btn {
          transform: rotate(180deg);
        }
      }
    }

    #emailTag {
      display: none;
      position: relative;
      height: 37px;
      overflow: hidden;
      padding-right: 32px;

      &.is-show {
        display: block;
        height: auto;

        .tag__dropdown-btn {
          transform: rotate(180deg);
        }
      }
    }

    #selectCont {
      gap: 0 8px;

      span {
        width: 92px;
      }

      .chips {
        display: flex;
        width: calc(100% - 100px);
        overflow-x: auto;
        gap: 0 8px;
      }
    }

    .textarea {
      height: 220px;
      padding: 16px;
      border: 1px solid #BBBEC3;
      border-radius: 6px;
    }

    .templit-info {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;

      .temp-col {
        display: flex;
      }

      .temp-col1 {
        width: 294px;
      }

      .temp-col2 {
        gap: 0 8px;
        width: calc(100% - 294px);
      }

      p {
        color: #707070;

        strong {
          display: block;
        }
      }

      .input-txt {
        width: 136px;
      }
    }

    .popup__btn-wrap {
      align-items: center;
      justify-content: space-between;

      .col-left {
        display: flex;
        align-items: center;
        gap: 0 8px;
      }

      .input-txt {
        width: 130px;
      }

      .btn-send {
        width: 200px;
      }
    }
  }

  &.upload-excel {

    #excelUpload {
      display: none;
    }

    .upload-area {
      display: flex; 
      justify-content: center; 
      align-items: center;
      flex-direction: column;
      -ms-flex-direction: column;
      width: 100%; 
      height: 240px; 
      border-radius: 8px; 
      border: 4px dashed #F0F8FC;

      .ua-txt {
        position: relative;
        margin-bottom: 16px;
        padding-top: 96px;
        color: #ACACAC;
        font-weight: 500;
        text-align: center;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 80px;
          height: 80px;
          background: url($image-url + 'ico-attach-file.png');
          transform: translateX(-50%);
        }
      }
    }

    .file-list {
      margin-top: 16px;
    }

    .guide-download {
      margin-top: 110px;
      color: #707070;
      text-align: center;

      a {
        color: #029ED0;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  } 
}
